<!-- Navbar -->
<app-navbar-style-three></app-navbar-style-three>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>About</h2>
                    <ul>
                        <li><span>Home/</span></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- New -->
<div class="new-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="new-img">
                    <img src="assets/img/about.jpg" alt="New">
                    <img src="assets/img/about-shape.png" alt="New">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">Explore New Life</span>
                        <h2>Is that you are looking for?</h2>
                    </div>

                    <p>Life is so unpredictable and sometimes, we don't even know when to stop and catch our breath. For that reason, you should always try to make the most of your time on this planet.</p>
                    <br>
                    <p>Seeing new places, meeting new people and doing new things is one of the best ways to do that. However, planning a trip to a foreign country can be expensive and stressful. So, why not let someone else plan it for you? Here are some resources for young people who want to travel more often</p>
                    <a class="cmn-btn" routerLink="/register">Get Started<i class='bx bx-plus'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End New -->
<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->
