<!-- Navbar -->
<app-navbar-style-three></app-navbar-style-three>
<!-- End Navbar -->

<!-- Page Title -->

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Pricing Plans</h2>
                    <ul>
                        <li>
                            <img
                                src="assets/img/home-three/title-img-two.png"
                                alt="Image"
                            />
                            <a routerLink="/">Home</a>
                        </li>
                        <li><span>/</span></li>
                        <li>Pricing Plans</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Pricing -->
<div class="person-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                    <div class="btn-group" name="container">
                        <button
                            class="btn btn-primary"
                            btnRadio="Unread"
                            [(ngModel)]="container"
                            (click)="loadMessages()"
                        >
                            <i class="fa fa-envelope"></i> Unread
                        </button>
                        <button
                            class="btn btn-danger"
                            btnRadio="Inbox"
                            [(ngModel)]="container"
                            (click)="loadMessages()"
                        >
                            <i class="fa fa-envelope-open"></i> Inbox
                        </button>
                        <button
                            class="btn btn-primary"
                            btnRadio="Outbox"
                            [(ngModel)]="container"
                            (click)="loadMessages()"
                        >
                            <i class="fa fa-paper-plane"></i> Outbox
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="messages?.length === 0">
                    <h3>No messages</h3>
                </div>

                <div class="row" *ngIf="messages?.length > 0">
                    <table class="table table-hover" style="cursor: pointer">
                        <thead>
                            <tr>
                                <th style="width: 20%">From / To</th>
                                <th style="width: 20%">Sent / Received</th>
                                <th style="width: 40%">Message</th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            [hidden]="loading"
                            *ngFor="let message of messages"
                            routerLink="{{container === 'Outbox' ? '/puppy-list/' + message.recipientName
                            : '/puppy-list/' + message.senderName}}">


                            <!--sent or received -->
                            <td>
                                <div *ngIf="container === 'Outbox'">
                                    <img class="img-circle me-2"
                                    src="{{ message.recipientPhotoUrl || './assets/user.png'}}"
                                    alt="{{ message.recipientName }}"/>
                                    <strong>{{message.recipientName | titlecase}}</strong></div>

                                <div *ngIf="container !== 'Outbox'">
                                    <img class="img-circle me-2"
                                    src="{{message.senderPhotoUrl || './assets/user.png'}}"
                                        alt="{{ message.senderName }}"/>
                                    <strong>{{message.senderName | titlecase}}</strong>
                                </div>
                            </td>


                            <!--time-->
                            <td>{{ message.sendTime | timeago }}</td>
                                <!--send receive-->

                            <!--content-->
                                <td>{{ message.content }}</td>

                                <!--del-->
                                <td>
                                    <button
                                        (click)="$event.stopPropagation()"
                                        (click)="deleteMessage(message.id)"
                                        class="btn btn-danger"
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-center" *ngIf="pagination">
                    <pagination
                        [boundaryLinks]="true"
                        [totalItems]="pagination.totalItems"
                        [itemsPerPage]="pagination.itemsPerPage"
                        [(ngModel)]="pagination.currentPage"
                        (pageChanged)="pageChanged($event)"
                        [maxSize]="10"
                        previousText="&lsaquo;"
                        nextText="&rsaquo;"
                        firstText="&laquo;"
                        lastText="&raquo;"
                    >
                    </pagination>
                </div>

                <!-- End Pricing -->

                <!-- Footer -->
                <app-footer-style-two></app-footer-style-two>
                <!-- End Footer -->
            </div>
        </div>
    </div>

